input {
  height: 24px;
  width: 396px;
  background: #efefef;
  border: none;
  margin-left: 10px;
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

button {
  width: 80px;
  height: 26px;
  border: #2f80ed;
  box-shadow: 2px 0px 4px 0px #2f80ed;
  border-radius: 0px 4px 4px 0px;
  background: #2f80ed;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
